
<h2>ProductList</h2>
<ul>
    @foreach (var ProductItem in Model.ItemList)
    {
        <li> @Html.ActionLink( (string)ProductItem.Name,"ProductPage", new { PID = ProductItem.ProductID}, null) </li>
    }
</ul>
<ul>
    @if(ViewBag.Prev >= 1) 
    {<li> @Html.ActionLink("Previous", "ProductList", "Production", new { SubId = ViewBag.SubId, PageNumber = ViewBag.Prev }, null) </li>}
    @if (ViewBag.Next <= ViewBag.Last)
    { <li> @Html.ActionLink("Next", "ProductList", "Production", new { SubId = ViewBag.SubId, PageNumber = ViewBag.Next }, null) </li>}
    </ul>

