
<h2>ProductList</h2>
<ul>
    @foreach (var ProductItem in Model.ItemList)
    {
        <li> @Html.ActionLink( (string)ProductItem.Name,"ProductPage", new { PID = ProductItem.ProductID}, null) </li>
    }
</ul>

